In a science research lab, combining two
nuclear chemicals produces a maximum
energy that is the product of the energy of the
two chemicals  

FIND TWO MAXIMUM NUMBERS FROM GIVEN LIST

In [1]:

n=int(input("enter n:"))
try:
    list=[]
    for i in range(n):
        list.append(int(input()))
except:
    print(list)
print(list)
list.sort()
print(list)    
print(list[-1]+list[-2])

enter n:4
10
2
10
9
[10, 2, 10, 9]
[2, 9, 10, 10]
20

bitwise opertaions
~ tilde :works on 8 bits   
& bitwise &
| bitwise or |
 left shift <<
 right shift >>

In [4]:
print(~14)

-15

In [2]:
 print(~10+~4)

-16

In [4]:
print(10 & 2)

2

In [5]:
print(10 | 2)

10

In [6]:
print(10 ^ 2)

8

In [7]:
print(10 << 2)

40

In [8]:
print(10 >> 2)

2

floor , ceil , pow in math module

In [23]:
import math
print(math.floor(2.9))

2

In [22]:
import math
print(math.ceil(2.1))

3

3 ways to import the modules are
1)import math

2)import math as m

3)from math import sqrt,pow

In [28]:
import math as m
print(m.pow(2,3))

8.0

In [31]:
from math import pow ,sqrt
print(pow(3,3))
print(sqrt(4))

27.0
2.0

program to find Even or odd

In [44]:
n=int(input("Enter a number:"))
print("Even") if(n%2==0) else print("Odd")

Enter a number:4
Even

program to find sum of natural numbers

In [45]:
n = eval(input("enter the numbers:"))
print((n*(n+1))/2)

enter the numbers:4
10.0

program to find greatest three numbers

In [55]:
n1,n2,n3=10,20,30
max=n1 if n1>n2 else n2
max=n3 if n3>max else max
print(max)

30

program to find greatest of two numbers

In [62]:
n1,n2=10,40
print(n1) if (n1>n2) else print(n2)

40

program to find leap year or not

two conditions to  be in leap year

1)it must be divisible by 400 

2))it must divisible by 4 and not by 100

In [76]:
year=int(input("Enter the year to check if its a leap year or not "))
print("leap year") if (year%400==0 or year%4==0 and year%100!=0) else print("not leap year")

Enter the year to check if its a leap year or not 2012
leap year

program to find prime number

In [ ]:
num=15